body{
  width: 100%;
  margin: 0 auto;


.overlay {
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(147,54,157);
  background-color: rgba(147,54,157, 0.95);
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: 0.4s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  right: 0%;
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */

  .navbar-nav{
    .nav-item{
      text-align: center;
      font-size: 1.5em;
    }
  }
}


.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2em;
  color: #fff;
  display: block;
  transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
  color: #ffcc00;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: -40px;
  right: 25px;
  font-size: 100px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}





ul{
  list-style: none;
  display: inline;

  li{
    font-family: kansasnew, serif;
    font-size: 2em;
    font-weight: 900;
    color: #201e5a;
    text-align: right;
  }
}


.header{
  padding:0;

  .navbar{
    padding:0;

    .logo{
      padding:0;
      .img-fluid{
        width:65%;
        transition: 0.3s;
        &:hover{
          @media(min-width:992px){
            filter: opacity(50%);
          }
        }

        @media(min-width:500px){
          width:55%;
        }
        @media(min-width:576px){
          width:55%;
        }
        @media(min-width:992px){
          width:45%;
        }
        @media(min-width: 1200px){
          width:30%;
        }
      }
    }

    span{
      img{
        width:85%;
        transition: 0.3s;
        @media(min-width:500px){
          width:65%;
        }
        @media(min-width:576px){
          width:55%;
          margin-left:2em;
        }

        &:hover{
          filter: opacity(50%);
        }

      }
    }

    .nav{
      padding-top: 1em;
      padding-right: 1em;
      li{
        font-size: 1.75em;
        padding-left: 1.5em;
      }

      a{
        text-decoration: none;
        color: #201c5a;
        transition: 0.3s;
        &:hover{
          @media(min-width: 992px){
            color: #93369d;
          }
        }
      }
    }
  }
}


.intro{
  padding-top:8em;
  h1{
    font-family: kansasnew, serif;
    font-weight: 900;
    font-size: 4em;
    color: #93369d;
    text-align: center;
  }

  h2{
    font-family: kansasnew, serif;
    font-weight: 800;
    font-size: 1.75em;
    color: #201c5a;
    text-align:center;
  }

  p{
    font-family: poppins, sans-serif;
    font-weight: 300;
    text-align: center;
  }
}

.work{
  padding-top: 6em;
  h2{
    font-family: kansasnew, serif;
    font-weight: 800;
    font-size: 1.75em;
    color: #201c5a;
    text-align:center;
  }
}

.about{
  padding-top: 6em;
  h2{
    font-family: kansasnew, serif;
    font-weight: 800;
    font-size: 1.75em;
    color: #201c5a;
    text-align:center;
  }
}


.contact{
  padding-bottom:10em;
  padding-top:4em;
  @media(min-width:500px){
    padding-bottom: 13em;
  }
  @media(min-width: 576px){
    padding-bottom: 13em;
    padding-top: 6em;
  }
  @media(min-width: 768px){
    padding-bottom: 13em;
    padding-top: 7em;
  }

  h2{
    font-family: kansasnew, serif;
    font-weight: 800;
    font-size: 1.75em;
    color: #201c5a;
    text-align:center;
  }

  a{
    text-decoration: none;
    color: #201c5a;

    p{
      text-align: center;
      font-family: kansasnew, serif;
      font-weight: 400;
      font-size: 1em;
    }
  }

  ul{
    display: flex;
    padding:0;
    @media(min-width:992px){
      padding-left: 3em;
    }
    li{
      padding: 0.2em;
      padding-left: 0;
      @media(min-width: 768px){
        margin: 0 auto;
      }
      @media(min-width:992px){
        text-align: center;
      }
      a{
        transition: 0.3s;
        &:hover{
          filter: brightness(0.75);
        }
      }

      img{
        width:85%;
        @media(min-width: 600px){
          width:65%;
        }
        @media(min-width: 992px){
          width:50%;
        }
      }
    }
  }

  p{
    text-align: center;
  }
}



}
